@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(218, 179, 255);
    overflow-y: hidden;
}

#formContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    position: absolute;
    height: 100%;
    z-index: -1;
}

h1 {
    text-align: center;
}

#formContainer form {
    background-color: rgb(245, 245, 245);
    width: 70%;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    box-shadow: 16px 16px 38px -18px #777777;
}

#uiForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}

.formField {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formField input {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 4px;
}

.formField input:focus {
    outline: none;
}

.formField p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

button {
    background-color: rgb(78, 78, 238);
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: rgb(67, 67, 201);
}

.d-none {
    display: none;
}